
@import 'bootstrap/bootstrap.less';
@import 'general.less';
@import 'headerfooter.less';
@import 'wrangler.less';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


body {
	background: @black;
}




// HOME PAGE SHIT


.carousel-indicators {
	position: absolute;
	top: 77%;
}

.carouselimg {
	width: 100%;
	margin: auto;
}

.carmodels {
	text-align: center;
	width: 91.5%;
	margin: 0 auto;
	position: absolute;
	top: 38%;
	left: 4.25%;
	img {
		width: 100%;
	}
}

.promos {
	text-align: center;
	margin-top: -8%;
	position: relative;
	img {
		width: 70%;
	}
}



// MEDIA QUERIES
