
@import 'bootstrap/bootstrap.less';
@import 'general.less';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background: @black;
}

.navbar {
	.gradientnav;
	// padding: 10px 0;
}

.navbar-nav {
	//padding: 10px 0;	//won't add padding to JEEP?
}

.navbar-brand {
	width: 110px;
	height: 15px;
	background: url('../img/sprite_nav.png') no-repeat;
	background-position: -277px -382px;
	padding: 25px 0;
}


.navribbon {
	width: 70px;
	height: 100px;
	position: absolute;
	background: url('../img/sprite_nav.png') no-repeat;
	background-position: -390px -370px;
	margin-left: 800px; //150px
}

.gradientnav {
	background: @gray-dark;
	background: -moz-linear-gradient(top,  @gray-dark 0%, @black 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  @gray-dark 0%, @black 100%);
	background: -o-linear-gradient(top,  @gray-dark 0%, @black 100%);
	background: -ms-linear-gradient(top,  @gray-dark 0%, @black 100%);
	background: linear-gradient(to bottom,  @gray-dark 0%, @black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );
}


.gradientfoot {
	background: @gray-darker;
	background: -moz-linear-gradient(top,  @gray-darker 0%, @black 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000222), color-stop(100%,#111111));
	background: -webkit-linear-gradient(top,  @gray-darker 0%, @black 100%);
	background: -o-linear-gradient(top,  @gray-darker 0%, @black 100%);
	background: -ms-linear-gradient(top,  @gray-darker 0%, @black 100%);
	background: linear-gradient(to bottom,  @gray-darker 0%, @black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000222', endColorstr='#000111',GradientType=0 );
}

footer {
	margin-top: 0px;
	height: auto;
	border-top: 1px solid @gray-dark;
	margin-bottom: 40px;
	.gradientfoot;
	p {
		font-size: @footerParagraph;
	}
}


.footerdiv {
	width: 20%;
	float: left;
	h6 {
		color: @white;
	}
	ul {
		margin-left: -35px;
		padding-bottom: 20px;
		li {
			list-style-type: none;
			a {
				color: @gray-light;
				font-size: @footerHeader;
			}
		}
	}
}



// HOME PAGE SHIT

.hero {
	width: 100%;
	margin: 0 auto;
	img {
		width: 100%;
	}

	.herocontent {
		position: absolute;
		top: 8%;
		left: 20%;
		color: #ffffff;
		h1 {
			font-size: 50px;
		}
		p {
			background: #222222;
			padding: 10px;
			width: 70%;

		}
	}
}

.carousel-indicators {
	position: absolute;
	top: 77%;
}

.carouselimg {
	width: 100%;
	margin: auto;
}

.carmodels {
	text-align: center;
	width: 91.5%;
	margin: 0 auto;
	position: absolute;
	top: 38%;
	left: 4.25%;
	img {
		width: 100%;
	}
}

.promos {
	text-align: center;
	margin-top: -8%;
	position: relative;
	img {
		width: 70%;
	}
}


// WRANGLER PAGE SHIT

.container .jumbotron {
		padding: 0px;
}

.wrangler-one {
	padding: 30px;
	h5 {
		font-size: 28px;
		line-height: 16px;
		.bold;
	}

	h6 {
		font-size: 10px;
		.bold;
	}
	p {
		font-size: 9px;
	}
}

.wrangler-two {
	width: 100%;
}

.wrangler-three {
	text-align: center;
	padding: 15px 0;

	h2 {
		font-size: 42px;
	}
}



// MEDIA QUERIES
