
<footer>
  <div class="row-fluid">
    <div class="container">

      <div class="footerdiv">
        <h6>VEHICLES</h6>
        <ul>
          <li><a href="#">Compass</a></li>
          <li><a href="#">Cherokee</a></li>
          <li><a href="#">Grand Cherokee</a></li>
          <li><a href="#">Liberty</a></li>
          <li><a href="#">Patriot</a></li>
          <li><a href="#">Wrangler</a></li>
          <li><a href="#">Wrangle Unlimited</a></li>
        </ul>
      </div>

      <div class="footerdiv">
        <h6>RESEARCH</h6>
        <ul>
          <li><a href="#">Compass</a></li>
          <li><a href="#">Cherokee</a></li>
          <li><a href="#">Grand Cherokee</a></li>
          <li><a href="#">Liberty</a></li>
          <li><a href="#">Patriot</a></li>
          <li><a href="#">Wrangler</a></li>
          <li><a href="#">Wrangle Unlimited</a></li>
        </ul>
      </div>

      <div class="footerdiv">
        <h6>CAPABILITY</h6>
        <ul>
          <li><a href="#">Compass</a></li>
          <li><a href="#">Cherokee</a></li>
          <li><a href="#">Grand Cherokee</a></li>
          <li><a href="#">Liberty</a></li>
          <li><a href="#">Patriot</a></li>
          <li><a href="#">Wrangler</a></li>
          <li><a href="#">Wrangle Unlimited</a></li>
        </ul>
      </div>

      <div class="footerdiv">
        <h6>LOCATE</h6>
        <ul>
          <li><a href="#">Compass</a></li>
          <li><a href="#">Cherokee</a></li>
          <li><a href="#">Grand Cherokee</a></li>
          <li><a href="#">Liberty</a></li>
          <li><a href="#">Patriot</a></li>
          <li><a href="#">Wrangler</a></li>
          <li><a href="#">Wrangle Unlimited</a></li>
        </ul>
      </div>

      <div class="footerdiv">
        <h6>OWNERS</h6>
        <ul>
          <li><a href="#">Compass</a></li>
          <li><a href="#">Cherokee</a></li>
          <li><a href="#">Grand Cherokee</a></li>
          <li><a href="#">Liberty</a></li>
          <li><a href="#">Patriot</a></li>
          <li><a href="#">Wrangler</a></li>
          <li><a href="#">Wrangle Unlimited</a></li>
        </ul>
      </div>

      <p>2013 Chrystler Group LLC. All Rights Reserved</p>
      <p>Chrysler, Jeep, Dodge, Ram, SRT, Mopar, and the Pentastar logo are registered trademarks of Chrysler Group LLC.</p>
      <p>FIAT is a registered trademark of Fiat Group Marketing &amp; Corporate Communication S.p.A, used under license by Chrysler Group LLC.</p>
      <p>*MSRP excludes destination, taxes, title and registration fees. Starting at price refers to the base model, optional equipment not included. A more expensive model may be shown. Pricing and offers may change at any time without notification. To get full pricing details, see your dealer. </p>
      <p>**Excludes SRT models. Offer valid on vehicles equipped with V8 engines only. Residency restrictions apply. See dealer for details. Must take retail delivery by 7/31/2013.</p>
      <p>†Financing and deferred monthly payments for well-qualified buyers when financed through Chrysler Capital. Not all buyers will qualify. Interest, if any, accrues from date of purchase. Lease offers are not eligible for deferred payments. Restrictions apply. See dealer for details. Must take retail delivery by July 31, 2013</p>

    </div>
  </div>
</footer>