
<div class="navbar navbar-inverse">
	<div class="container">

		<a href="#" class="navbar-brand"></a>

		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=",ba-navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="nav-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="wrangler.html">VEHICLES</a></li>
				<li><a href="#">SHOPPING TOOLS</a></li>
				<li><a href="#">CAPABILITY</a></li>
				<li><a href="#">OWNERS</a></li>
			</ul>
		</div>

		<!-- ribbon sprite -->
		<div class="navribbon"></div>

	</div>
</div>