
<div class="navbar navbar-inverse">
	<div class="container">


		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		    	<span class="sr-only">Toggle navigation</span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
			</button>
		    <a href="index.html" class="navbar-brand"></a>
		
		</div>


		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="wrangler.html">VEHICLES</a></li>
				<li><a href="#">SHOPPING TOOLS</a></li>
				<li><a href="#">CAPABILITY</a></li>
				<li><a href="#">OWNERS</a></li>
		    </ul>

		    <div class="navribbon"></div>
		</div>
		

	</div>
</div>


<!-- 
	
	<a href="index.html" class="navbar-brand"></a>

	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=",ba-navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<div class="nav-collapse collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="wrangler.html">VEHICLES</a></li>
			<li><a href="#">SHOPPING TOOLS</a></li>
			<li><a href="#">CAPABILITY</a></li>
			<li><a href="#">OWNERS</a></li>
		</ul>
	</div> 

-->